<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="wcy.godinsec.wcy_dandan">
    <!--申请网络的权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--SD卡的读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--SD卡的读写权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--打电话权限-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--地理坐标权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--百度地图权限-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!--悬浮窗权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <!--友盟分享的权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <application
        android:name=".application.WcyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/umeng_push_notification_default_large_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
        android:name=".test.activitys.AnimationActivity"
        android:screenOrientation="portrait">
        <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>


        <!--<activity-->
            <!--android:name=".views.activitys.LauncherActivity"-->
            <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".views.activitys.AboutProjectActivity"-->
            <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity-alias-->
            <!--android:name=".ActivityAlias1"-->
            <!--android:enabled="true"-->
            <!--android:icon="@mipmap/umeng_push_notification_default_large_icon"-->
            <!--android:label="@string/app_name"-->
            <!--android:targetActivity=".views.activitys.LauncherActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity-alias>-->

        <!--<activity-alias-->
            <!--android:name=".ActivityAlias2"-->
            <!--android:enabled="false"-->
            <!--android:icon="@mipmap/app_logo"-->
            <!--android:label="cherise"-->
            <!--android:targetActivity=".views.activitys.AboutProjectActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</activity-alias>-->


        <activity
            android:name=".test.screenshot.ScreenShotActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <!--**********************高德地图的城市选择接入*******************************-->
        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="RUlhgBqGSWGuQlm7K1e4hIGs2NOEVflx"/>


        <!--**********************友盟*******************************-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value=" 598c27d1c62dca09f0001f72"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="64712ee9a5a98ae583a4a49eae3dfba8"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>
        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--新浪微博-->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!--qq精简版-->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1106316290"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <!--**************************Server**********************************-->
        <service
            android:name=".test.services.CounterService"
            android:enabled="true"/>

        <service
            android:name=".test.services.MessagerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.wcy.message"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <!--定义为在新进程中 只需要添加一个progress属性-->
        <service
            android:name=".test.services.AidlService"
            android:exported="true"
            android:process="wcy.godinsec.wcy_dandan"></service>


        <!--**************************Receiver**********************************-->
        <receiver android:name=".views.broadcastreceiver.DataChangeReceiver"/>
        <receiver android:name=".test.broadcastreceiver.CountReceiver"/>
        <receiver android:name=".receiver.MonitorSysReceiver">
            <intent-filter android:priority="20">
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".test.broadcastreceiver.CountReceiver"/>
    </application>


</manifest>